@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;800&family=Noto+Serif+Oriya:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navBar {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 95%;
    z-index: 3;
    height: 3em;
    display: flex;
    justify-content: space-evenly;
    background-color: #1a2456;
    color: #f0efed;
    font-family: 'Dosis', sans-serif;
    ;

    a:hover {
        color: #ff501c;
    }

    .navLeft {
        width: 40%;
        align-self: center;
        justify-self: center;

        .navLogo {
            float: right;
            font-weight: bolder;
        }
    }

    .navRight {
        width: 40%;
        align-self: center;
        justify-self: center;
        font-weight: bolder;
    }
}

//INDEX
.index {
    height: auto;
    width: 100%;
}

.introModal {
    background-color: black;
    height: 90%;
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;

    .modalVideo {
        width: 90%;
        height: 90%;

        button {
            float: right;
            font-weight: bolder;
            height: 2rem;
            width: 2rem;

        }
    }
}

.indexHeader {
    height: auto;
    width: 100%;

    .dios {
        height: 400vh;
        width: 100%;

        .semidios {
            position: sticky;
            top: 0;
            height: 100vh;
            width: 100%;
            background-image: url(../src/img/pokemon1.jpg);
            background-size: cover;
            background-attachment: fixed;
        }

        .popup {
            position: absolute;
            top: 0;
            height: 400vh;
            width: 100%;
            z-index: 2;
            transform: scale(1);
            animation-name: popupShow;
            animation-duration: 2s;
            animation-timing-function: ease-in;

            .popupTitle {
                position: sticky;
                top: 15rem;
                font-family: 'Dosis', sans-serif;

                .title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    line-height: 4rem;
                    color: #080b1b;

                    .pokeTitle {
                        font-size: 4rem;
                    }

                    .pokeSubtitle {
                        font-size: 5rem;
                    }

                    .pokeSubInfo {
                        font-size: 2rem;
                    }

                    .popupBtn {
                        display: flex;


                        button {
                            color: #f0efed;
                            background-color: #080b1b;
                            border-radius: 20%;
                            height: 3rem;
                            width: 12rem;
                            margin: 0 2rem;
                            font-family: 'Dosis', sans-serif;
                            font-size: 1rem;

                            transition: opacity 2s;
                            opacity: 1;


                            &:hover {
                                background-color: #ff8b68;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }


    //Animaciones del INDEXHEADER
    @keyframes popupShow {
        0% {
            opacity: 0;
            transform: translateY(5rem);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }

    }


}


.indexAbout {
    height: 100vh;
    width: 100%;
    color: #f0efed;
    font-size: 2rem;
    background-color: #EFC2B3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15rem;

    h2 {
        padding-bottom: 2rem;
    }

    p {
        color: #1a2456;
    }


}

.indexDivided {
    height: 900vh;
    width: 100%;
    display: flex;
    color: #1a2456;
    font-size: 1.5rem;



    .left {
        height: 900vh;
        width: 50%;
        background-color: blue;
        z-index: 1;

        .left1 {
            height: 300vh;


            .left1Son {
                position: sticky;
                top: 0;
                background-color: #1a2456;
                height: 100vh;
                background-image: url(../src/img/pokedex1left.png);
                background-size: auto;
                background-repeat: no-repeat;
                background-position: right;

            }

        }

        .left2 {
            height: 100vh;
            background-color: #EFC2B3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding: 4rem;
        }

        .left3 {
            height: 300vh;

            .left3Son {
                position: sticky;
                top: 0;
                height: 100vh;
                background-color: #FF8D6B;
                background-image: url(../src/img/pokedex2left.png);
                background-size: auto;
                background-repeat: no-repeat;
                background-position: right;
            }
        }

        .left4 {
            height: 100vh;
            background-color: #EFC2B3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding: 4rem;
        }

        .left5 {
            height: 100vh;
            background-image: url(../src/img/pokedex3left.png);
            background-size: auto;
            background-repeat: no-repeat;
            background-position: right;

        }
    }

    .right {
        height: 900vh;
        width: 50%;
        background-color: yellow;
        z-index: 1;

        .right1 {
            background-color: #ff8b68;
            height: 100vh;
            background-image: url(../src/img/pokedex1right.png);
            background-size: auto;
            background-repeat: no-repeat;
            background-position: left;
        }

        .right2 {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #EFC2B3;

            padding: 4rem;

        }

        .right3 {
            height: 300vh;

            .right3Son {
                position: sticky;
                top: 0;
                background-color: #5A7F71;
                height: 100vh;
                background-image: url(../src/img/pokedex2right.png);
                background-size: auto;
                background-repeat: no-repeat;
                background-position: left;
            }
        }

        .right4 {
            height: 100vh;
            background-color: #EFC2B3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding: 4rem;
        }

        .right5 {
            height: 300vh;
            background-color: #F5B335;

            .right5Son {
                height: 100vh;
                position: sticky;
                top: 0;
                background-image: url(../src/img/pokedex3right.png);
                background-size: auto;
                background-repeat: no-repeat;
                background-position: left;
            }

        }
    }
}

.finalDivided {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #1a2456;
    color: white;

    .finalDividedSon {
        height: 100vh;
        background-image: url(../src/img/adventure.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
        background-attachment: fixed;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        opacity: 1;
    }
}







.indexBottom {
    height: 1150vh;
    background-color: #1a2456;
    color: #EFC2B3;

    .indexBottomTitle {
        position: relative;
        top: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        h1 {
            font-size: 4rem;
        }
    }

    .bottomDivided {
        height: 1200vh;
        width: 100%;
        display: flex;
        color: #f0efed;
        font-size: 2rem;
        text-align: center;


        .bottomLeft {
            height: 1200vh;
            width: 50%;


            .bottomLeft1 {
                height: 300vh;

                .bottomLeft1Son {
                    height: 100vh;
                    position: sticky;
                    top: 0;
                    background-color: #1a2456;
                    height: 100vh;
                    background-image: url(../src/img/fire.png);
                    background-size: auto;
                    background-repeat: no-repeat;
                    background-position: right;
                }
            }

            .bottomLeft2 {
                height: 100vh;
            }

            .bottomLeft3 {
                height: 200vh;

                .bottomLeft3Son {
                    height: 100vh;
                    padding: 33% 10%;
                    position: sticky;
                    top: 0;
                }
            }

            .bottomLeft4 {
                height: 300vh;

                .bottomLeft4Son {
                    height: 100vh;
                    position: sticky;
                    top: 0;
                    background-color: #1a2456;
                    height: 100vh;
                    background-image: url(../src/img/electric.png);
                    background-size: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            .bottomLeft5 {
                height: 100vh;
            }

            .bottomLeft6 {
                height: 200vh;

                .bottomLeft6Son {
                    position: sticky;
                    top: 0;
                    height: 100vh;
                    padding: 33% 10%;
                }

            }

        }

        .bottomRight {
            height: 1200vh;
            width: 50%;


            .bottomRight1 {
                height: 100vh;
            }

            .bottomRight2 {
                height: 200vh;

                .bottomRight2Son {
                    position: sticky;
                    top: 0;
                    height: 100vh;
                    padding: 33% 10%;
                }

            }

            .bottomRight3 {
                height: 300vh;

                .bottomRight3Son {
                    height: 100vh;
                    position: sticky;
                    top: 0;
                    background-color: #1a2456;
                    height: 100vh;
                    background-image: url(../src/img/water.png);
                    background-size: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            .bottomRight4 {
                height: 100vh;
            }

            .bottomRight5 {
                height: 200vh;

                .bottomRight5Son {
                    position: sticky;
                    top: 0;
                    height: 100vh;
                    padding: 33% 10%;
                }

            }

            .bottomRight6 {
                height: 300vh;

                .bottomRight6Son {
                    height: 100vh;
                    position: sticky;
                    top: 0;
                    background-color: #1a2456;
                    background-image: url(../src/img/poison.png);
                    background-size: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
}

.pikachu {
    position: fixed;
    bottom: 25%;
    left: 25%;
    z-index: 4;
    background-image: url(../src/img/pikachu.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 50%;
    transition: opacity 250ms;

}



.pokeballFather {
    height: 500vh;
    width: 100%;
    background-color: #1a2456;
    padding-bottom: 20vh;

    .pokeball {
        height: 100vh;
        position: sticky;
        top: 0;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        overflow: hidden;


        .pokeball1 {
            position: absolute;
            height: 100vh;
            width: 100%;
            background-image: url(../src/img/Pokeball1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .pokeball2 {
            position: absolute;
            height: 100vh;
            width: 100%;
            background-image: url(../src/img/Pokeball2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .pokeball3 {
            position: absolute;
            height: 100vh;
            width: 100%;
            background-image: url(../src/img/Pokeball3.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .pokeball4 {
            position: absolute;
            height: 100vh;
            width: 100%;
            background-image: url(../src/img/Pokeball4.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .pokeball5 {
            position: absolute;
            height: 100vh;
            width: 100%;
            background-image: url(../src/img/Pokeball5.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .pokeball6 {
            position: absolute;
            height: 100vh;
            width: 100%;
            background-image: url(../src/img/Pokeball6.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }


    }


}

.pokeballFather2 {
    position: fixed;
    z-index: -2;
    top: 0;
    height: 100vh;
    width: 100%;

    .pokeballCompleteFragments {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-image: url(../src/img/PokeballCompleteFragments.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
        transition: opacity 250ms
    }

    .pokeballComplete {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-image: url(../src/img/PokeballComplete.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: opacity 250ms;

        animation-duration: 2s;
        animation-fill-mode: forwards;

    }

    .pokeballCenter {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-image: url(../src/img/PokeballCenter.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation-duration: 2s;
        animation-fill-mode: forwards;

    }
}

@keyframes pokeballIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes pokeballOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes pokeballCompleteAnimation {
    50% {
        filter: none
    }

    80% {
        filter: saturate(300%) brightness(4);
        transform: scale(1)
    }

    100% {
        transform: scale(0) rotate(540deg);
    }

}

@keyframes pokeballCenterAnimation {
    20% {
        filter: brightness(3) sepia(100%) hue-rotate(-50deg) saturate(1000%) contrast(0.8);
    }

    80% {
        filter: brightness(5);
        transform: scale(1)
    }

    100% {
        transform: scale(0);
    }
}


.indexChoose {
    height: 120vh;
    width: 100%;
    background-color: #EFC2B3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;

    .indexChooseSon {
        height: 50%;
        width: 50%;
        background-image: url(../src/img/choose.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: scale(0);
        animation-delay: 2s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        z-index: 6;


        .choosePokemonLink {
            opacity: 0;
            width: 100%;
            height: 100%;

            &:hover {
                transition: opacity 250ms;
                opacity: 1;
                background-image: url(../src/img/chooseHover.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }
    }
}

@keyframes choosePokemon {

    100% {
        transform: scale(1);
    }

}





// POKEDEX--------------------------------------------------------------------------------------------------------------


.pokemonsContainer {
    height: 130vh;
    width: 100%;
    background-color: #080b1b;
    background-image: url(../src/img/PokedexBackgroundBasic.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inconsolata', monospace;


    .pokemonsCards {
        margin-top: 7rem;
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../src/img/PokedexBackgroundBottom.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @media (min-width:2560px) and (min-height:1440px){

        }

        @media (min-width:1920px) and (min-height:1200px){
            margin-top: 0;
        }
        @media (max-width:1024px) and (max-height:720px){
            margin-top: 0;
            margin-bottom: 5rem;
        }

        // @media (min-width:1025px) and (min-height:721px){
        //     margin-top: 0;
        // }
        

        @media (max-width:576px){

        }

        @media (max-width:426px){
            margin-bottom: 10rem;
            height: 50vh;
            width: 80%;
        }

    }

    .pokemonsCardsBtn {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;


        button {
            height: 3rem;
            width: 15rem;
            border: 2px solid #FDF900;
            background-color: black;
            color: #f0efed;
            font-family: 'Inconsolata', monospace;


            @media (min-width:1025px) and (min-height:666px){
                  margin-top: 4rem;
                  width: 10rem;
                  height: 1.5rem;
            } 
            @media (max-width:1024px) and (max-height:665px){
               
                  width: 10rem;
                  height: 1.5rem;
            }

            .prevBtn {
                height: 100%;
                width: 100%;
                background-image: url(../src/img/prevBtn.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;

                &:hover {
                    cursor: pointer;
                    background-color: #FDF900;
                }
            }

            .nextBtn {
                height: 100%;
                width: 100%;
                background-image: url(../src/img/nextBtn.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;

                &:hover {
                    cursor: pointer;
                    background-color: #FDF900;
                }
            }

        }

    }
}

.cards {
    height: 50%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;

    @media (min-width:2560px) and (min-height:1440px){
            margin-top: 6rem;
    }

    @media (min-width:1920px) and (min-height:1200px){
        margin-top: 3rem;
       height: 35%; 
    }
    @media (min-width:1680px) and (min-height:1050px){
        margin-top: 3rem;
        height: 35%;
    }
    @media (min-width:1440px) and (min-height:900px){
        margin-top:3rem;
        height: 35%;
    }
    @media (max-width:1024px) and (max-height:720px){
        margin-top: 2rem;
        height: 35%;
    }
    

    h1 {
        color: #f0efed;
        font-size: 100px;
    }

    .card {
        height: 13rem;
        width: 13rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #f0efed;
        font-family: 'Inconsolata', monospace;
        border: 2px solid white;
        border-radius: 15px;
        filter: saturate(90%);

        @media (min-width:1368px) and (min-height:768px){
            height: 9rem;
            width: 9rem;
        }   




        @media (min-width:1440px) and (min-height:900px){
            height: 9rem;
            width: 9rem;
        }      
        @media (min-width:1600px) and (min-height:900px){
            height: 11rem;
            width: 11rem;
        }
        @media (min-width:1680px) and (min-height:1050px){
            height: 11rem;
            width: 11rem;
        }
        @media (min-width:2560px) and (min-height:1440px){
            width: 17rem;
            height: 17rem;
        }
        @media (max-width:1410px){
            height: 9rem;
            width: 9rem;
        }
        @media (max-width:1024px) and (max-height:720px){
            height: 7rem;
            width: 7rem;
            font-size: 12px;
        }

        &:hover {
            border: 2px solid #FDF900;
            cursor: pointer;
        }

        img {
            max-width: 50%;
            filter: saturate(150%)
        }
    }
}


//PokemonDetail

.pokemonDetailContainer {
    @extend .pokemonsContainer;
    background-image: url(../src/img/PokedexBackground.png);


    .pokemonDetail {
        height: 50vh;
        width: 70%;
        margin-top: 6rem;
        margin-left: 5rem;
        color: #f0efed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .pokemonDetailTop {
            height: 90%;
            width: 100%;
            display: flex;
            flex-direction: row-reverse;


            .detailPicture {
                width: 60%;
                display: flex;
                align-items: center;

                img {
                    height: 100%;
                    position: relative;
                }
            }

            .detailTitle {
                width: 80%;
                text-transform: capitalize;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .detailTitleTop {
                    display: flex;
                    font-size: 2rem;

                    h3 {
                        font-size: 1rem;
                        text-transform: uppercase;
                    }

                    .detailType {
                        height: 100%;
                        width: 20%;
                    }
                }
                .detailName{
                    width: 80%;
                }

                .detailSubtitle {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }
        }

        .pokemonDetailBottom {

            height: 20vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;



            .detailStats {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;

                border-top: 1px solid #FDF900;

                .stats {
                    margin-top: 2rem;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    div {
                        height: 80%;
                        width: 70%;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;

                    }
                }
            }
        }

        .pokemonDetailBtn {
            padding-top: 3rem;
            padding-right: 2rem;
            height: 10vh;
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            button {
                height: 3rem;
                width: 15rem;
                border: 2px solid #FDF900;
                background-color: black;


                .detailPrev {
                    height: 100%;
                    width: 100%;
                    background-image: url(../src/img/prevBtn.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;

                    &:hover {
                        cursor: pointer;
                        background-color: #FDF900;
                    }

                }

                .detailNext {
                    height: 100%;
                    width: 100%;
                    background-image: url(../src/img/nextBtn.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;

                    &:hover {
                        cursor: pointer;
                        background-color: #FDF900;
                    }
                }

            }
        }


    }

}



.statsBar {
    height: 100%;
    width: 100%;
    background-color: #1a2456;
    border: 1px solid #FDF900;
    border-radius: 1rem;

    .statsBarFull {
        height: 80%;
        border-radius: 1rem;
        background-color: #ff501c;
    }
}

//SEARCH BAR
.pokemonsSearch {
    position: absolute;
    top: 15%;
    left: 30%;
    height: 5rem;
    width: 40%;
    display: flex;
    justify-content: space-evenly;



    .searchPokemon {
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;


        input {
            height: 2rem;
            width: 100%;
            background-color: #FDF900;
            font-weight: bolder;
            text-align: center;
            border-radius: 1rem;
        }

        button {
            font-weight: bold;
            font-family: 'Inconsolata', monospace;
            width: 80%;
            border-radius: 1rem;
        }
    }

    .searchType {
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        select {
            height: 2rem;
            width: 100%;
            background-color: #FDF900;
            text-align: center;
            font-weight: bolder;
            border-radius: 1rem;
            color: #757575;

            option {
                font-family: 'Inconsolata', monospace;
                font-weight: bold;
                color: black;

            }

        }

        p {
            font-weight: bolder;
        }
    }
}




//Media queryes

@media only screen and (max-width: 426px) {

//HOME

.indexHeader {
    height: auto;
    width: 100%;

    .dios {
        height: 400vh;
        width: 100%;

        .semidios {
            position: sticky;
            top: 0;
            height: 100%;
            width: 100%;
            background-image: url(../src/img/pokemon1.jpg);
            background-size: contain;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }

        .popup {
            position: absolute;
            top: 0;
            height: 400vh;
            width: 50%;


            .popupTitle {
                position: sticky;
                top: 15rem;
                font-family: 'Dosis', sans-serif;

                .title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    line-height: 4rem;
                    color: #080b1b;

                    .pokeTitle {
                        font-size: 4rem;
                    }

                    .pokeSubtitle {
                        font-size: 5rem;
                    }

                    .pokeSubInfo {
                        font-size: 2rem;
                    }

                    .popupBtn {
                        display: flex;


                        button {
                            color: #f0efed;
                            background-color: #080b1b;
                            border-radius: 20%;
                            height: 3rem;
                            width: 12rem;
                            margin: 0 2rem;
                            font-family: 'Dosis', sans-serif;
                            font-size: 1rem;

                            transition: opacity 2s;
                            opacity: 1;


                            &:hover {
                                background-color: #ff8b68;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}


.pokeballFather2 {
    position: fixed;
    z-index: -2;
    top: 0;
    height: 50vh;
    width: 50%;
    
    .pokeballCompleteFragments {
        position: absolute;
        height: 100vh;
        width: 100%;

    }

    .pokeballComplete {
        position: absolute;
        height: 100vh;
        width: 100%;
    }

    .pokeballCenter {
        position: absolute;
        height: 100vh;
        width: 100%;
    }
}





    .navBar {
        height: 1rem;
    }

//POKEDEX

    .pokemonsContainer {
        height: 100vh;
        background-image: url(../src/img/PokedexBackgroundMobile.png);


        .cards {
            height: 80%;
            width: 75%;
            
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(5, 1fr);

            @media (min-width:390px){
                height: 60%;
            }

            h1{
                font-size: 3rem;
            }
            .card {
                height: 4.5rem;
                width: 4.5rem;
                justify-self: center;

                h2 {
                    font-size: 0.8rem;
                }
            }
        }

        .pokemonsCards {
            //margin-bottom: 15rem;
            margin-top: 30%;
            height: 75%;
            width: 90%;
            background-image: url(../src/img/PokedexBackgroundMobileBottom.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @media (min-width:360px){
                margin-top: 40%;
            }

            @media (min-width:375px){
                margin-top: 50%;
            }

            @media (min-width:390px){
                margin-top: 20%;
            }


        }

        .pokemonsCardsBtn {
            height: 10%;
            width: 75%;
  
            button {
                height: 1.5rem;
                width: 6rem;
                
            }
        }
    }

    .pokemonsSearch {
        position: absolute;
        top: 8%;
        left: 15%;
        height: 3rem;
        width: 70%;

        .searchPokemon {
            height: 100%;
            width: 40%;

            input {
                height: 2rem;
                width: 100%;
                font-size: 0.6rem;
            }

            button {
                font-weight: bold;
                font-family: 'Inconsolata', monospace;
                font-size: 0.6rem;
                width: 80%;
                height: 50%;
                border-radius: 1rem;
            }
        }

        .searchType {
            height: 100%;
            width: 40%;

            select {
                height: 1.5rem;
                width: 100%;
                font-size: 0.6rem;

                option {
                    height: 0.5rem;
                }
            }

            p {
                font-size: 0.8rem;
            }
        }
    }

    

    .pokemonDetailContainer {
        height: 100vh;
        background-image: url(../src/img/PokedexBackgroundMobile.png);
        display: flex;
        justify-content: center;
        align-items: center;
        .pokemonDetail {
            margin: 0;
            background-image: url(../src/img/PokedexBackgroundMobileBottom.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            width: 90%;
            margin-bottom: 20%;

            @media (min-width:360px){
                margin-bottom: 10%;
            }

            @media (min-width:375px){
                margin-top: 25%;
            }

            @media (min-width:390px){
                margin-bottom: 50%;
            }


           
            .pokemonDetailTop {
                height: 40%;
                width: 100%;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                .detailPicture {
                    width: 30%;
                    height: 30%;
                    display: flex;
                    align-items: center;
    
                    img {
                        height: 100%;
                        position: relative;
                    }
                }
    
                .detailTitle {
                    width: 80%;
    
                    .detailTitleTop {
                        
                        font-size: 1rem;
    
                        h3 {
                            font-size: 1rem;
                            
                        }
    
                        .detailType {
                            height: 100%;
                            width: 30%;
                        }
                    }
    
                    .detailSubtitle {
                        font-size: 0.7rem;
                    }
                }
            }
    
            .pokemonDetailBottom {
                height: 20vh;
                width: 100%;
                margin-top: -15%;

                .detailStats {
                    height: 100%;
                    width: 80%;
        
                    .stats {
                        margin-top: 1rem;
                        width: 100%;
                        height: 100%;

    
                        div {
                            font-size: 0.7rem;
                            height: 40%;
                            width: 100%;
                            display: grid;
                            grid-template-columns: 40% 40% 10%;
                            grid-gap: 1rem;
    
                        }
                    }
                }
            }
    
            .pokemonDetailBtn {
                padding-top: 3rem;
                //padding-right: 1rem;
                padding-left: 2rem;
                height: 10vh;
                width: 100%;
                justify-content: center;
                margin-bottom: 15%;
    
                button {
                    height: 1.5rem;
                    width: 6rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px){
    .pokemonsContainer {
        height: 100vh;

        .pokemonsCards {
            margin-bottom: 15rem;
            height: 50vh;
            width: 80%;
            
        }
        .cards {
            height: 80vh;
            width: 90%;
            margin-left: 5%;
            h1{
                font-size: 3rem;
            }
            .card {
                height: 4rem;
                width: 4rem;

                h2 {
                    font-size: 0.8rem;
                }
            }
        }

        .pokemonsCardsBtn {
            height: 5vh;
            width: 80%;
            margin-left: 10%;
            margin-top: -80px;
            
            button {
                height: 2rem;
                width: 12rem;
            }
        }
    }

}



a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
    color: #f0efed;
}